.item-git-hub {
    width: 80%;
    margin: auto;
    padding: 15px;
    margin-top: 40px;
}
.button-submit {
    width: 140px;
    border: none;
    padding: 5px;
    margin-top: 10px;

    color: #fff;
    background: #007bff;
}