* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
    background-color: rgb(180, 177, 177);
}
h1 {
    color: #fff;
    text-align: center;
}